//color
$color-main: #4a4a4a;
$color-main--bg: #ffffff;
$color-border: rgba(0, 0, 0, 0.16);

//width
$width-container--top: calc(100% - 44rem);
$width-container--content: calc(100% - 64rem);

//font-size
$fs--base: 1.6rem;
$fs--title: 6.4rem;
$fs--subtitle: 3.2rem;
$fs--page-title: 3.2rem;
$fs--item-title: 2.4rem;
$fs--section-title: 2rem;
$fs--small: 1.2rem;
